.help__container {
    position: absolute;
    top: 10px;
    right: 10px;
    color: aliceblue;
    background-color: rgb(40, 44, 52);
    padding: 1rem 2rem;
    max-width: 20%;
    opacity: .2;
    transition: all .2s ease;
}

@media (max-width: 600px) {
    .help__container {
        display: none;
    }
}

.help__container:hover {
    opacity: 1;
}

.help__container li {
    font-size: .9rem;
}

.help__container li:not(:last-of-type) {
    margin-bottom: .6rem;
}